# How Fancy Is This Car?

# Business Understanding

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
cars= pd.read_csv("car_price_prediction.csv")
cars.head(10)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1.0,Tesla,2016.0,2.3,Petrol,Manual,114832.0,New,26613.92,Model X
1,2.0,BMW,2018.0,4.4,Electric,Manual,143190.0,Used,14679.61,5 Series
2,3.0,Audi,2013.0,4.5,Electric,Manual,181601.0,New,44402.61,A4
3,4.0,Tesla,2011.0,4.1,Diesel,Automatic,68682.0,New,86374.33,Model Y
4,5.0,Ford,2009.0,2.6,Diesel,Manual,223009.0,Like New,73577.10,Mustang
5,6.0,Audi,2019.0,2.4,Diesel,Automatic,246553.0,Like New,88969.76,Q7
6,7.0,Audi,2020.0,4.0,Electric,Automatic,135486.0,Used,63498.75,Q5
7,8.0,Tesla,2017.0,5.3,Hybrid,Automatic,83030.0,New,17381.19,Model Y
8,9.0,Honda,2023.0,5.7,Electric,Manual,120360.0,Like New,15905.62,Civic
9,10.0,Ford,2010.0,1.5,Electric,Automatic,135009.0,Like New,9560.22,Explorer